[Unit]
Description=Redfish GraphQL Service
After=network.target

[Service]
ExecStart=/usr/bin/graphql_redfish_server -p 8444 --host localhost --target-port 443 --user service --password 0penBmc
Restart=always
RestartSec=5
Type=simple

[Install]
WantedBy=multi-user.target
