[Unit]
Description=Redfish GraphQL Service
After=network.target

[Service]
ExecStart=/usr/bin/graphql_redfish_server -p 18080 --host bmc.peer --target-port 443 -C /etc/ssl/certs/https/client_cert.pem -K /etc/ssl/private/client_pkey.pem
Restart=always
RestartSec=5
Type=simple

[Install]
WantedBy=multi-user.target
