[Unit]
Description=Redfish GraphQL Service
After=network.target

[Service]
ExecStart=/usr/bin/graphql_redfish_server -p 18080 --host 127.0.0.1 --target-port 443 -u service -w 0penBmc0
Restart=always
RestartSec=5
Type=simple

[Install]
WantedBy=multi-user.target
