[Unit]
Description=IBM i 5250 Console Client on port %i
Wants=sshdgenkeys.service console_server.service
After=sshdgenkeys.service console_server.service

[Service]
# SSH access to the IBM i 5250 console client.
Environment="SSHD_OPTS="
EnvironmentFile=-/etc/default/ssh
# Start sshd on port %i. sshd.%i.conf force-runs ibmi_console_client.
ExecStart=-/usr/sbin/sshd $SSHD_OPTS -f /etc/obmc-console/sshd.%i.conf -p %i
SyslogIdentifier=ibmi-console-client-%i
KillMode=process
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target